 .bottom{
    font-size: 200%;
    margin-top: -175px;
    display: flex;
    flex-flow: nowrap ;
    list-style: none;
}


.back{

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: rgb(17, 17, 17);
    color: rgb(211, 202, 202);
}

.front{  
    font-size: 145%;
     font-family: 'inspiration','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     z-index: 2;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    background: linear-gradient(to right, rgb(0, 192, 64),rgb(18, 148, 1));   
    color: rgb(192, 192, 192);
    -webkit-text-stroke:  .05px rgb(150, 150, 150);
    text-shadow:
    rgb(182, 182, 182) 0px 0px 1em,	
    rgb(80, 80, 80) 5px 1px 15px,
     rgb(70, 70, 70) -5px -1px 15px;
  }
  .front, .back {
border-radius: 5px;
padding: 15px 5px 20px 5px;
    text-align: center ;
    display: block;    
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 auto;
    margin: 0 auto;
  }
.back h3 {
    position: relative;
    font-family:'rurintania'; 
  }
  .back h3:after {
    content: "";
    width: 70px;
    height: 1px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    background: white;
    margin-left: -45px;
  }

.front .text{
  padding-top: .7em;
  z-index: 5;
  overflow: hidden;
  position: relative;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  transition: .7s cubic-bezier(0.4, 0.2, 0.2, 1);  
  transform-origin: 55.5% center 230px;
}
  .back li a{
    text-decoration: none;
color: rgb(226, 247, 184);
  overflow: hidden;
  }