*{
    margin: 0px;
    padding: 0px;
    }
    .container{
          /* background-color: blueviolet;   */
        padding-top: 10px;
        margin-top: 10px;
margin-left:250px;  
margin-right:250px; 
display:block;
}

.container_meny_niz{
    margin-top: 50px;
    display:block;
    -webkit-perspective: 1200;
    perspective: 1200;
    -moz-transform: perspective(1200px);
    height: 150px;
    width: 350px;  
    text-align: center;
        opacity: .9;
}

.flipper {
    height: 150px;
    width: 350px;   
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -moz-transition: .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: .7s cubic-bezier(0.4, 0.2, 0.2, 1);  
  }

.container_meny_niz:hover .text{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
  .container_meny_niz:hover .flipper{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}  
.container_meny_niz_otstyp{
margin-left: 13em;
}
.two{
    margin-top: -6.3em;
margin-left: 17em;
}