*{
    margin: 0px;
    padding: 0px;
    }
    .telefon{
        /* background-color: rgb(255, 0, 0) ; */
        text-align: right;
        font-style: italic ;
font-size: 150%;
margin-right: 20px;
        font-family: 'Arial Narrow', Arial, sans-serif;
    color:burlywood;
    opacity: .4;
    }