*{
    margin: 0px;
    padding: 0px;
    }
    .container{
             /* background-color: blueviolet;      */
        padding-top: 10px;
        margin-top: 10px;
margin-left:250px;  
margin-right:230px; 
display: flex;
    flex-flow: column wrap;
font-size: 100%;

overflow: hidden;
}
